<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap" rel="stylesheet">


    <title>Portifólio do Akylles - Akylles Ferreira Barros</title>
</head>
<body>
    <section class='section__introduce'>
        <div class='introduce'>
            <div class='introduce2'>
                <div class='name'>
                    <h1>Akylles Barros</h1>
                </div>

                <div class='boxName'>
                    <h2>DESENVOLVEDOR FRONT-END</h2>
                </div>

                <div class= 'linguages'>
                    <p >Html5 | Css3 | JS | Python</p>
                </div>

            </div>
        </div>
    </section>

    <section class='section__secundary'>
        <div class='sobre'>
            <h2 class= "marcatexto"><span>Olá</span>, Tudo bem Contigo? Pegue um café.</h2>

            <p>Meu nome é Akylles Barros, sou web designer e desenvolvedor. 

            </p>

            <p> Trabalho em alguns segmentos como: </p>
                
                <li>editorial;</li>
                <li>Pequenos e médios negócios;</li>
                <li>Promoção e eventos;</li>
                <li>Profissionais liberais;</li>
                <li>Estúdios de criação.</li>
                <li>O principal foco é oferecer aos clientes as melhores e inovadoras soluções.</li>

        </div>
        
        <div>
            <img class="foto" src="../static/CSS/Eu mais recente (2).jpg" width="225px "></a> 
        </div>
    </section>  

    <section class='section__terc'>

        <div class='textform'>
            <div class='text'>
                <h2>Entrar em contato:</h2>
                <p>Tem um projeto legal em mente ou só quer dizer oi?</p>
                <p>Sinta-se livre para me enviar uma mensagem!</p>
            </div>

            <form class='form' action='/send' method='POST'>
                <div class='formA'>
                    <div class='campo'>
                        <input type="text" id="name" name='nome' placeholder="Seu nome">
                    </div>

                    <div class='campo'>
                        <input type="email" id="mail" name='email'placeholder="Seu email">
                    </div>
                </div>

                <div class='campo'>
                        <textarea style="resize: none" name='msg' id="msg" placeholder="Sua mensagem"></textarea>
                </div>

                <div class='button'>
                    <button type="submit" id='enviar' >ENVIAR</button>
                </div>
            </form>
        </div>
    
    </section>


    <section class='section__fourth'>   
        <div>
            <div class='final'>
                <a href='https://www.linkedin.com/in/akyllesbarros/'> <img src='../static/CSS/iconeLinkedin.png' ></a>

                <a href='http://www.instagram.com/akyllesbarros'> <img src="../static/CSS/iconeInstagram.png"></a>
                <a href='https://github.com/Akyllesbarros/Akyllesbarros'> <img src="../static/CSS/iconeGitHub.png"/> <a>

            </div>
        </div>

        <footer>
            &copy 2021 by Akylles Ferreira Barros
        </footer>
    </section>


</body>
</html>